/* Style.css */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.stroke {
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

h3 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

#container {
  width: 100%;
  margin: auto;
}

.hero {
  text-align: center;
  background-size: cover;
  height: 100vh;
  background: url(../images/art-main-final.png) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

nav {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

.grey-background {
  background-color: #999;
  overflow: hidden;
  width: 100%
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: 2px solid white;
  padding: 10px;
  margin: 20px;
}

a:hover {
  opacity: .7;
}

.logo {
  max-width: 100px;
  float: left;
  padding: 20px;
}

.header {
  padding-top: 250px;
  color: #fff;
}

.cta a:link, .cta a:active, .cta a:visited {
  color: #fff;
  text-decoration: none;
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  border: 2px solid white;
  padding: 10px;
  position: absolute;
  bottom: 20%;
  left: 42%;
  display: inline-block;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  left: 45%;
}

#content {
  background-color: #fff;
  overflow: hidden;
}

.description {
  color: #666;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: hidden;
  font-family: 'oswald', sans-serif;
  font-weight: 300;
  padding-bottom: 25px;
}

.question {
  padding-top: 75px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  color: #3D3D3D;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.subhead {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
  font-style: italic;
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

.self {
  float: left;
  display: block;
  max-height: 200px;
  margin-right: 25px;
  border-radius: 50%;
  border: 5px solid white;
}

.shop {
  margin: 0 auto;
  width: 70%;
  clear: both;
  overflow: hidden;
}

.art {
  float: left;
  max-width: 300px;
  padding: 30px;
}

.greyscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.see-all-art {
  float: right;
  color: #000;
  padding-right: 200px;
  margin-bottom: 20px;
}

.see-all-art a:link, .see-all-art a:visited, .see-all-art a:active {
  color: #999;
  text-decoration: none;
}

.cta-second a:link, .cta-second a:active, .cta-second a:visited {
  font-size: 20px;
  border: 2px solid #999;
  padding: 10px;
}

.footer {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background-color: #999;
  bottom: 0;
}

.footer-logo {
  max-width: 50px;
  float: left;
}

.footer-return {
  max-width: 40px;
  float: right;
}

/* about me page */

.about-me {
  margin: 0 auto;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 25px;
  overflow: hidden;
}

.about-image {
  border-radius: 50%;
  max-width: 300px;
  float: left;
  display: block;
  margin-right: 25px;
}

.personal-website-cta {
  clear: both;
  margin: 0 auto;
  width: 40%;
  padding: 25px;
}

.personal-website-cta a:link, .personal-website-cta a:active, .personal-website-cta a:visited {
  color: #999;
  font-size: 30px;
  border: 2px solid #999;
  font-family: 'roboto', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.about-subhead {
  font-style: italic;
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}

/* individual detail page */

.primary-image-content {
  width: 30%;
  margin: 0 auto;
  padding-top: 40px;
}

.primary-image {
  max-width: 400px;
}

.top-line {
  border-top: 2px solid #999;
  margin-top: 100px;
}

.buy-now {
  float: right;
  color: #000;
  margin-top: 30px;
  margin-right: 30px;
  font-weight: 400;
}

.buy-now a:link, .buy-now a:visited, .buy-now a:active {
  font-size: 20px;
  border: 2px solid #000;
  color: #000;
  padding: 10px;
  text-decoration: none;
}

.overlay-background {
  position: fixed;
  display: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  z-index:1001;
}

.popup {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  z-index:1002;
  overflow: auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.close-icon {
  max-width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input[type=text] {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #E0E0E0;
  width: 75%;
}

input[type=submit] {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 10px;
  background-color: #666;
  border-color: #999;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.description-input {
  height: 100px;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  nav a {
    font-size: 18px;
    margin: 10px;
  }

  .cta a:link, .cta a:active, .cta a:visited {
    font-size: 20px;
    left: 35%;
    bottom: 25%;
  }

  .down-arrow {
    position: absolute;
    bottom: 0;
    left: 30%;
  }

  .question {
    padding: 20px;
    float: none;
    text-align: center;
  }

  .description {
    padding: 20px;
  }

  .self {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .shop {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .art {
    float: none;
    margin: 0 auto;
    padding: 10px;
  }

  .see-all-art {
    float: none;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .about-image {
    max-width: 250px;
    float: none;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .personal-website-cta {
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .personal-website-cta a:link, .personal-website-cta a:active, .personal-website-cta a:visited {
    font-size: 20px;
  }

  .about-me {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .primary-image-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .primary-image {
    width: 100%;
    margin: 0 auto;
  }

  .buy-now {
    float: none;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .popup {
    top: 15%;
    left: 5%;
    width: 90%;
    height: 60%;
    padding: 10px;
    margin: 0 auto;
    border: 5px solid black;
    text-align: center;
    border-radius: 15px;
  }

  input[type=text] {
    max-height: 35px;
  }

  input[type=submit] {
    padding: 5px;
  }

}
